.app {
  min-height: 100vh; 
  width: 100vw; 
  background: #F8F8F2;
  /* linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  margin: 0;
  padding: 0;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

/* @keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

::-webkit-scrollbar {
  display: none;
}






